@import "/styles/vars.css";

:host > div > h2#resultsDescription {
  color: var(--color_green);
  font-weight: normal;
}

:host > div > div#results > div.result {
  padding: 0.3em;
  margin: 1.5em 0px;
  border-radius: 1em;
}

:host > div > div#results > div.result:hover {
  background-color: var(--color_very-light-green);
}

:host > div > div#results > div.result > h3 {
  font-weight: normal;
  margin: 0.5em 0px 0.2em 0px;
}

:host > div > div#results > div.result > h3::before {
  content: "- ";
}

:host > div > div#results > div.result > ul {
  list-style-type: none;
  padding-inline-start: 0.8em;
  margin-block-start: 0em;
  margin-block-end: 0.2em;
}

:host > div > div#results > div.result > ul > li {
  display: inline-block;
  margin-bottom: 0px;
}

:host > div > div#results > div.result > ul > li.left {
  min-width: 10em;
}

:host > div > div#results > div.result > ul > li span.link {
  cursor: pointer;
}

:host > div > div#results > div.result > ul > li span.link:hover {
  text-decoration: underline;
}

:host > div > div#results > div.result > ul > li > span.label {
  color: var(--color_green);
}

@media (min-width: 768px) /* and (max-width: 1024px) */ {
  :host > div > div#results {
    display: flex;
    flex-flow: wrap;
  }

  :host > div > div#results > div.result {
    margin: 1em;
    border-bottom: 1px solid var(--color_green);
    border-radius: 0;
    min-width: 20em;
    max-width: 20em;
  }
}
