@import "/styles/vars.css";

:host > div > h2#resultsDescription {
  color: var(--color__green);
  font-weight: normal;
  margin-bottom: 0;
}

:host > div > div#empty-resultset {
  margin-top: 1em;
}

:host > div > div#results > div.result {
  padding: 0.3em;
  margin: 0 0 1.5em 0px;
  border-bottom: 1px solid var(--color__green);
}

:host > div > div#results > div.result:hover {
  background-color: var(--color__very-light-green);
}

:host > div > div#results > div.result > dl > dt {
  font-weight: normal;
  font-size: 1.2em;
  margin: 0.5em 0px 0.2em 0px;
}

:host > div > div#results > div.result > ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0em;
  margin-block-end: 0.2em;
}

:host > div > div#results > div.result > ul > li {
  display: inline-block;
  margin-bottom: 0px;
}

:host > div > div#results > div.result > ul > li.left {
  min-width: 10em;
}

:host > div > div#results > div.result > ul > li span.link {
  cursor: pointer;
}

:host > div > div#results > div.result > ul > li span.link:hover {
  text-decoration: underline;
}

:host > div > div#results > div.result > ul > li > span.label {
  color: var(--color__green);
}

@media (min-width: 768px) {
  :host > div > div#results {
    display: flex;
    flex-flow: wrap;
    margin-left: -1em;
  }

  :host > div > div#results > div.result {
    margin: 1em;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  :host > div > div#results > div.result {
    width: 100%;
  }
}

@media (min-width: 1400px) and (max-width: 1700px) {
  :host > div > div#results > div.result {
    min-width: 27em;
    max-width: 27em;
  }
}

@media (min-width: 1700px) {
  :host > div > div#results > div.result {
    min-width: 20em;
    max-width: 20em;
  }
}
